/* 
 * Footer
 */

footer {
	padding: 5px;
	color: black;
	background-color: #fff;
	font-weight: bold;
}

footer p {
    font-size: 14px;
    text-align: center;
}

footer p a {
    color: white;
    text-decoration: none;
}